---
import CKRed from "@images/home/ck_red.jpg";
import Badge from "@images/home/badge.jpg";
import Bag from "@images/home/bag.jpg";
import Card from "@images/home/card.jpg";
import MapVideo from "@assets/map.mp4";
import CollectionCard from "@images/home/collection-card.png";
import AllStamp from "@images/home/all-stamp.png";

import Hero from "@components/sections/Hero.astro";
import Padding from "@components/ui/blocks/Padding.astro";
import BigSection from "@components/sections/BigSection.astro";
import EventCarousel from "@components/sections/EventCarousel";
import News from "@components/sections/News";
import AutoPlayVideo from "@components/sections/VideoPlayer";
import FAQ from "@components/sections/FAQ.astro";
import Tabs from "@components/sections/Tabs.astro";
import BasicCard from "@components/ui/cards/BasicCard.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";

import { getCollection } from "astro:content";
import { getImage } from "astro:assets";
import Image from "astro/components/Image.astro";

import type { Slide } from "@components/sections/EventCarousel.tsx";
import type { CollectionEntry } from "astro:content";

import {
  TableOfContents,
  Flag,
  Gem,
  CreditCard,
  Map,
  Stamp,
} from "lucide-react";

const allEvents = await getCollection("events");

const sortedEvents = allEvents.sort(
  (a: CollectionEntry<"events">, b: CollectionEntry<"events">) =>
    b.data.date.valueOf() - a.data.date.valueOf()
);

const slidesForCarousel: Slide[] = await Promise.all(
  sortedEvents.map(async (event) => {
    const optimizedImage = await getImage({
      src: event.data.image,
      format: "avif",
    });
    return {
      image: optimizedImage,
      gradientStart: event.data.gradientStart,
      gradientEnd: event.data.gradientEnd,
      date: event.data.date,
      link: event.data.link,
      organizer: event.data.organizer,
      description: event.body,
      caption: event.data.title,
      slug: event.slug,
    };
  })
);

const faqs = {
  subTitle: "以下是我們收到最多的提問",
  faqs: [
    {
      question: "活動是否需要事先報名？",
      answer: "是的，我們建議您事先報名，以確保有名額參加並獲得提醒通知。",
    },
    {
      question: "報名後可以取消或更改嗎？",
      answer:
        "報名後若有異動，請於活動開始前 3 天聯絡我們，我們將協助您處理更改或取消。",
    },
    {
      question: "需要攜帶什麼物品嗎？",
      answer:
        "請攜帶有效證件、報名確認信及個人文具，如有其他需求我們將於活動前公告。",
    },
    {
      question: "活動是否提供午餐？",
      answer: "活動全日場將提供簡便午餐，半日場不包含餐點，請自行準備。",
    },
    {
      question: "我可以攜伴參加嗎？",
      answer: "本活動為限額報名制，僅限報名者本人參加，恕不接受攜伴。",
    },
  ],
};

const testTabs = [
  {
    name: "束口袋",
    description: "黑色的束口袋，方便收納各種小物",
    image: Bag,
  },
  {
    name: "徽章",
    description: "專屬於社團博覽會的獨一無二徽章，金屬材質自帶高級感",
    image: Badge,
  },
  {
    name: "悠遊卡套",
    description: "新拿到的學生證最好的收納方式！",
    image: Card,
  },
];
---

<Padding>
  <Hero
    title='建中出才子，才子躍<span class="text-accent-300 ">社團</span>！'
    subTitle="探索超過 60 個精彩社團"
    imgAlt="建中紅樓"
    imgSrc={CKRed}
    SectionId="hero"
    primaryBtn="社團博覽會"
    primaryBtnURL="#fair"
    secondaryBtn="社團資料庫"
    secondaryBtnURL="/clubs"
  />
</Padding>

<Padding>
  <EventCarousel id="event" slides={slidesForCarousel} client:visible />
</Padding>

<Padding>
  <News id="news" client:visible />
</Padding>

  <BigSection
    id="fair"
    title=" 社團博覽會介紹"
    describe="今年的社團博覽會規劃了集章活動！以下是活動的詳細辦法"
  >
    <BasicCard title="簡介">
      <TableOfContents
        slot="icon"
        className=" text-primary-600 dark:text-primary-900 w-6 h-6"
      />
      社團博覽會是指在新生訓練的第二天下午，校園中會架起帳棚攤位，全校幾乎所有的社團都會在自己的攤位擺出最吸引人的東西，吸引學弟們的目光。
    </BasicCard>
    <BasicCard title="目的">
      <Flag
        slot="icon"
        className=" text-primary-600 dark:text-primary-900 w-6 h-6"
      />
      除了讓社團介紹自己給新生外，社團也會藉此機會宣傳自己，廣發傳單來壯大自己的社團歸模。
    </BasicCard>
    <BasicCard title="今年的特別之處">
      <Gem
        slot="icon"
        className=" text-primary-600 dark:text-primary-900 w-6 h-6"
      />
      今年相較於往年單純的展覽會，新增了集章卡的活動。新生們會拿到一張有六個空格的集章卡，對應的參展的社團也會依照位置或性質保管六種印章中的其中一種。新生只需要持集章卡分別蒐集到六種印章後即可至班聯會攤位兌換限量紀念品！
    </BasicCard>

    <BasicCard title="集章卡">
      <CreditCard
        slot="icon"
        className=" text-primary-600 dark:text-primary-900 w-6 h-6"
      />
      <Image
        src={CollectionCard}
        alt={"集章卡"}
        class="rounded-md overflow-hidden"
      />
    </BasicCard>

    <BasicCard title="社團分類地圖">
      <Map
        slot="icon"
        className=" text-primary-600 dark:text-primary-900 w-6 h-6"
      />
      社團所保管的印章種類會標示在各社團攤位的專屬 QR code 上，也可以查看此網頁的線上社團地圖尋找想要了解的社團！
      <div class="py-2">
        <PrimaryCTA title="線上地圖連結" url="/map" />
      </div>
    </BasicCard>

    <BasicCard title="六種印章">
      <Stamp
        slot="icon"
        className=" text-primary-600 dark:text-primary-900 w-6 h-6"
      />
      <Image
        src={AllStamp}
        alt={"集章卡"}
        class="rounded-md overflow-hidden"
      />
    </BasicCard>
  </BigSection>

<Tabs tabs={testTabs} title="紀念品介紹" />

<div>
  <AutoPlayVideo
    src={MapVideo}
    ctaText="立刻查看社團地圖"
    ctaLink="/map"
    client:idle
  />
</div>

<Padding>
  <FAQ title="常見問題" faqs={faqs} />
</Padding>
