---
import CKRed from "@images/home/ck_red.jpg";
import Badge from "@images/home/badge.jpg";
import Bag from "@images/home/bag.jpg";
import Card from "@images/home/card.jpg";
import MapVideo from "@assets/map.mp4";
import CollectionCard from "@images/home/collection-card.png";
import AllStamp from "@images/home/all-stamp.png";

import Hero from "@components/sections/Hero.astro";
import Padding from "@components/ui/blocks/Padding.astro";
import BigSection from "@components/sections/BigSection.astro";
import EventCarousel from "@components/sections/EventCarousel";
import News from "@components/sections/News";
import AutoPlayVideo from "@components/sections/VideoPlayer";
import FAQ from "@components/sections/FAQ.astro";
import Tabs from "@components/sections/Tabs.astro";
import BasicCard from "@components/ui/cards/BasicCard.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";

import { getCollection } from "astro:content";
import { getImage } from "astro:assets";
import Image from "astro/components/Image.astro";

import type { Slide } from "@components/sections/EventCarousel.tsx";
import type { CollectionEntry } from "astro:content";

import {
  TableOfContents,
  Flag,
  Gem,
  CreditCard,
  Map,
  Stamp,
} from "lucide-react";

const allEvents = await getCollection("events");

const sortedEvents = allEvents.sort(
  (a: CollectionEntry<"events">, b: CollectionEntry<"events">) =>
    b.data.date.valueOf() - a.data.date.valueOf()
);

const slidesForCarousel: Slide[] = await Promise.all(
  sortedEvents.map(async (event) => {
    const optimizedImage = await getImage({
      src: event.data.image,
      format: "avif",
    });
    return {
      image: optimizedImage,
      gradientStart: event.data.gradientStart,
      gradientEnd: event.data.gradientEnd,
      date: event.data.date,
      link: event.data.link,
      organizer: event.data.organizer,
      description: event.body,
      caption: event.data.title,
      pageUrl: event.data.pageUrl,
      slug: event.slug,
    };
  })
);

const faqs = {
  subTitle: "以下是有關社博以及建中社團的常見問題",
  faqs: [
    {
      question: "社團博覽會的具體時間是",
      answer: "社團博覽會活動今年會在 08/22 13:30 左右開始",
    },
    {
      question: "非建中新生可以參加社團博覽會嗎",
      answer:
        "可以的，我們歡迎大家來了解建中社團",
    },
    {
      question: "地社指的是什麼",
      answer:
        "地社的全稱是地下社團，當動詞時指的是沒有在選社系統中選某個社團，但仍去參加該社團的活動（不同的社團對地社會有不同的接受程度哦）",
    },
    {
      question: "社團聯展又是什麼",
      answer: "社團聯展可以說是動態的社團博覽會，同樣在 08/22 舉行，會邀請建中校內的動態社團像是舞社、音樂社性團等等來表演。16:20在夢紅樓展演廳開放入場，歡迎前來觀賞 ",
    },
    {
      question: "選社時間是什麼時候",
      answer: "尚未公告",
    },
  ],
};

const testTabs = [
  {
    name: "束口袋",
    description: "黑色的束口袋，方便收納各種小物，是社團聯展的紀念品！",
    image: Bag,
  },
  {
    name: "徽章",
    description: "專屬於社團博覽會的獨一無二徽章，金屬材質自帶高級感，是集章活動的紀念品之一",
    image: Badge,
  },
  {
    name: "悠遊卡套",
    description: "同樣是集章活動紀念品的卡套，是新拿到的學生證最好的收納方式！",
    image: Card,
  },
];
---

<Padding>
  <Hero
    title='建中出才子，才子躍<span class="text-accent-300 ">社團</span>！'
    subTitle="探索超過 50 個精彩社團"
    imgAlt="建中紅樓"
    imgSrc={CKRed}
    SectionId="hero"
    primaryBtn="社團博覽會"
    primaryBtnURL="#fair"
    secondaryBtn="社團資料庫"
    secondaryBtnURL="/clubs"
  />
</Padding>

<Padding>
  <EventCarousel id="event" slides={slidesForCarousel} client:visible />
</Padding>

<Padding>
  <News id="news" client:visible />
</Padding>

  <BigSection
    id="fair"
    title=" 社團博覽會介紹"
    describe="今年的社團博覽會規劃了集章活動！以下是活動的詳細辦法"
  >
    <BasicCard title="簡介">
      <TableOfContents
        slot="icon"
        className=" text-primary-600 dark:text-primary-900 w-6 h-6"
      />
      社團博覽會是指在新生訓練的第二天下午，全校幾乎所有的社團都會在自己的攤位擺出最吸引人的作品，吸引學弟們的目光。
    </BasicCard>
    <BasicCard title="目的">
      <Flag
        slot="icon"
        className=" text-primary-600 dark:text-primary-900 w-6 h-6"
      />
      除了讓社團介紹自己給新生外，社團也會藉此機會宣傳，廣發傳單來壯大自己的社團規模。
    </BasicCard>
    <BasicCard title="今年的特別之處">
      <Gem
        slot="icon"
        className=" text-primary-600 dark:text-primary-900 w-6 h-6"
      />
      今年相較於往年單純的博覽會，新增了集章卡的活動。新生們會拿到一張有五個空格的集章卡，參展的社團也會依照攤位位置或性質分別保管五種印章中的其中一種。新生只需要持集章卡分別蒐集到五種印章後即可至班聯會攤位兌換限量紀念品！
      <div class=" mt-1 text-sm text-primary-500 dark:text-primary-950 dark:opacity-95">今年為此集章活動第一屆，暫時只開放建中新生參加，請見諒</div>
    </BasicCard>
    <BasicCard title="集章活動說明">
      <Gem
        slot="icon"
        className=" text-primary-600 dark:text-primary-900 w-6 h-6"
      />
      集章完成後可以至夢紅樓一樓兌換紀念品，紀念品限量發放，發完為止。紀念品兌換時間預定為13:50~16:30，班聯會得視紀念品兌換狀況調整時間。一張集章卡限兌換一個紀念品，集章卡僅發放給新生，不記名不補發。
      <div class="py-2">
        <PrimaryCTA title="查看紀念品兌換位置" url="/map/?p=club-y-17" />
      </div>
    </BasicCard>

    <BasicCard title="集章卡">
      <CreditCard
        slot="icon"
        className=" text-primary-600 dark:text-primary-900 w-6 h-6"
      />
      <Image
        src={CollectionCard}
        alt={"集章卡（正面與背面）"}
        class="rounded-md overflow-hidden"
      />
      <div class=" mt-1">集章卡的正面與背面</div>
    </BasicCard>

    <BasicCard title="社團分類地圖">
      <Map
        slot="icon"
        className=" text-primary-600 dark:text-primary-900 w-6 h-6"
      />
      社團所保管的印章種類會標示在各社團攤位的專屬 QR code 上，也可以查看此網頁的線上社團地圖尋找想要了解的社團！
      <div class="py-2">
        <PrimaryCTA title="線上地圖連結" url="/map" />
      </div>
    </BasicCard>

    <BasicCard title="印章示意圖">
      <Stamp
        slot="icon"
        className=" text-primary-600 dark:text-primary-900 w-6 h-6"
      />
      <Image
        src={AllStamp}
        alt={"集章卡"}
        class="rounded-md overflow-hidden"
      />
    </BasicCard>
  </BigSection>

<Tabs tabs={testTabs} title="紀念品介紹" />

<div>
  <AutoPlayVideo
    src={MapVideo}
    ctaText="立刻查看社團地圖"
    ctaLink="/map"
    client:idle
  />
</div>

<Padding>
  <FAQ title="常見問題" faqs={faqs} />
</Padding>
