---
import { Image } from "astro:assets";

import ExternalCTA from "@components/ui/buttons/ExternalCTA.astro";

import { getCollection, getEntry, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const events = await getCollection("events");
  return events.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;

const post: CollectionEntry<"events"> | undefined = await getEntry(
  "events",
  slug
);

if (post === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await post.render();
const { title, date, image, organizer, link, ctaTitle } = post.data;
---

<Layout
  title={title + " | CKClubHub 建中社團資料庫"}
  description={post.body}
  customOgTitle={`查看有關 ${title} 的最新消息`}
  customOgImage={image}
  customOgDescription={post.body.slice(0, 30) + "..."}
>
  <article
    class="prose prose-neutral dark:prose-invert max-w-3xl mx-auto py-8 px-4 sm:py-12"
  >
    <h1 class="text-4xl font-bold mb-2 !text-primary-800">
      {title}
    </h1>

    <div class="flex flex-wrap items-center text-neutral-500 mb-4 gap-x-4">
      <span
        >舉辦單位：<strong class="text-primary-800">{organizer}</strong></span
      >
      <time datetime={date.toISOString()}>
        {
          date.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>
    </div>

    <div class="-mb-2">
      <ExternalCTA title={ctaTitle} url={link} />
    </div>

    <Image
      src={image}
      alt={`Cover image for ${title}`}
      class="rounded-md mb-8 w-full h-auto object-cover"
    />

    <div class="mt-8 my-10">
      <Content />
    </div>
  </article>
</Layout>
