---
import { getCollection, getEntry, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

import ClubHeader from "@/components/club/ClubHeader.astro";
import StickyActions from "@/components/club/StickyActions.tsx";
import ClubInfoPanel from "@/components/club/ClubInfoPanel.astro";

export async function getStaticPaths() {
  const clubs = await getCollection("clubs");
  return clubs.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post: CollectionEntry<"clubs"> | undefined = await getEntry(
  "clubs",
  slug
);

if (post === undefined) {
  return Astro.redirect("/404");
}

const { Content } = await post.render();
const { data } = post;
---

<Layout
  title={`${data.name} | CKClubHub 建中社團資料庫`}
  description={data.summary}
  customOgTitle={`查看 建中${data.name} 在 CKClubHub 建中社團資料庫上的專屬頁面`}
  customOgImage={data.profileImage}
  customOgDescription={data.summary.slice(0, 30) + "..."}
  padding={false}
>
  <ClubHeader club={data} />

  <article class="max-w-4xl mx-auto pb-8 py-4 px-6 sm:px-8 lg:px-16">
    <StickyActions
      client:load
      clubCode={data.clubCode}
      clubName={data.name}
      attendsExpo={data.attendsExpo}
    />
    <div class="lg:px-8 xl:px-16">
      <ClubInfoPanel club={data} />
    </div>

    <main
      data-pagefind-body
      class="mt-6 prose prose-base dark:prose-invert prose-img:rounded-sm mb-20 max-w-none py-8 px-4 sm:px-4 md:px-6 lg:px-[5%]"
    >
      <Content />
    </main>
  </article>

  <div style="display: none;" data-pagefind-body>
    <p data-pagefind-weight="10">{data.name}</p>

    <p data-pagefind-weight="8">{data.clubCode}</p>

    <p data-pagefind-weight="6">
      {data.tags.join(" ")}
    </p>

    <p data-pagefind-weight="5">{data.summary}</p>

    <p data-pagefind-weight="3">
      {data.activities.join(" ")}
      {data.workshops.description}
    </p>

    <p data-pagefind-weight="2">
      {data.officers.map((officer) => officer.name).join(" ")}
    </p>

    {data.tags.map((tag) => <span data-pagefind-filter="tag">{tag}</span>)}

    <p data-pagefind-filter={`members`}>{data.members.previousYear}</p>

    {data.attendsExpo && <p data-pagefind-filter={`other`}>社團博覽會攤位</p>}
    {data.hasClubStamp && <p data-pagefind-filter={`other`}>社團博覽會印章</p>}
    {data.acceptsUnofficial && <p data-pagefind-filter={`other`}>可地社</p>}
  </div>

  <div data-pagefind-ignore class="hidden">
    <p data-pagefind-meta="clubCode">{post.data.clubCode}</p>
    {
      data.profileImage && (
        <Image
          data-pagefind-meta="image[src], image_alt[alt]"
          src={data.profileImage}
          alt={`Cover image for ${data.name}`}
        />
      )
    }
  </div>
</Layout>
